@media (max-width: 600px) {
  /* utilities start*/

  .heading-secondary {
    font-size: 20px;
  }

  .text-secondary {
    font-size: 14px;
  }

  .font-size {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 20px;
  }

  .btn-secondary {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
  }

  .section-gap {
    margin-top: 25px;
  }
  /* utilities  end*/

  /* nav section */
  .nav {
    justify-content: space-around;
  }
  .logo-section img {
    width: 29px;
    height: 34px;
  }

  .logo-section p {
    font-size: 22px;
  }

  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    padding: 20px;
    margin-top: 5px;
  }

  .menu-toggle i {
    height: 24px;
    width: 24px;
  }
  /* nav section */

  /*   */
  .banner-form input,
  .banner-form select {
    margin: 10px 0;
  }
  .form-design {
    width: 100%;
  }

  /* .popularSpots-section  */
  .popularSpots-section {
    flex-direction: column;
    row-gap: 20px;
  }

  .popularSpots-section img {
    width: 100%;
  }

  /* destination section */
  .section_1_2,
  .section_1_4,
  .section_2_4,
  .section_2_5,
  .section_3_5 {
    width: 100%;
    padding: 15px;
  }

  /*  */
  .card {
    width: 100%;
  }

  /* .newsletter-section  */
  .newsletter-section {
    flex-direction: column;
  }
  .newsletter {
    width: 100%;
  }

  /*  footer */

  .footer-logo p {
    font-size: 28px;
  }

  .footer-text {
    font-size: 14px;
    padding: 30px;
  }
}
